/* ------------------------- fonts -------------------------  */

@font-face {
    font-family: computer-modern;
    src: url("fonts/cmunss.ttf") format("truetype");
}

/* ------------------------- better defaults -------------------------  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* ------------------------- util classes -------------------------  */
.flex-spacer {
    flex: 1;
}

/* ------------------------- styling -------------------------  */
body {
    font-family: computer-modern, sans-serif;
    /* background-image:
        repeating-linear-gradient(to right, var(--bg_s), var(--bg_s) 1px, transparent 1px, transparent 30px),
        repeating-linear-gradient(to bottom, var(--bg_s), var(--bg_s) 1px, transparent 1px, transparent 30px); */
    color: var(--on-surface);
    width: 35%;
    margin: auto;
    background-color: var(--surface);
}

#search-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 0.2);
    display: none;
    justify-content: center;
    z-index: 100;

    #search-modal {
        background-color: var(--surface-container);
        color: var(--on-surface);
        margin-top: 10%;
        width: 30%;
        height: 30%;
        min-height: 30%;
        max-height: 50%;

        #search-input {
            width: 100%;
            padding: 2em;
            background-color: var(--surface-container-low);
            color: var(--on-surface);
            border: none;
            outline: none;
        }

        #search-results {
            width: 100%;
            padding: 0.5em;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            li a {
                display: block;
                text-decoration: none;
                color: var(--on-secondary-container);
                padding: 1em;
                background-color: var(--secondary-container);

                &:hover {
                    background-color: var(--tertiary-container);
                    color: var(--on-tertiary-container);
                }
            }
        }
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 2px dashed var(--outline-variant);

    h1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            color: var(--primary);
        }
    }

    .actions {
        display: flex;
        gap: 1em;

        #search-trigger {
            border-radius: 2px;
            background-color: var(--secondary-container);
            border: none;
            outline: none;
            color: var(--on-secondary-container);
            padding: 0.5em 1em;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 15em;

            .keybinding {
                span {
                    background-color: var(--secondary);
                    color: var(--on-secondary);
                    font-weight: bold;
                    padding: 0.1em;
                }
            }

            svg {
                fill: var(--primary);
            }

            &:hover {
                background-color: var(--primary-container);

                svg {
                    fill: var(--on-primary-container);
                }
            }
        }

        #theme-selector {
            border-radius: 2px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: var(--secondary-container);
            color: var(--on-secondary-container);
            padding: 0.5em;

            &:hover {
                background-color: var(--primary-container);
                color: var(--on-primary-container);
            }
        }
    }
}

.posts {
    .heading {
        padding: 1em 0;
    }

    .post-list {
        display: block;

        .archive-year {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: var(--primary);

            &:before,
            &:after {
                content: "";
                border-top: 2px dashed var(--outline-variant);
                margin: 0 20px 0 0;
                flex: 1 0 20px;
            }

            &:after {
                margin: 0 0 0 20px;
            }
        }

        .post {
            margin: 20px 0;
            display: flex;
            align-items: center;

            .meta {
                .date {
                    margin-right: 2rem;
                    width: 64px;
                    text-align: center;
                    color: var(--primary);
                }

                .day {
                    font-family: "Playfair Display", serif;
                    font-weight: 700;
                    line-height: 0.75em;
                    font-size: 2em;
                    display: block;
                    margin: 0 0 0.5rem 0;
                }

                .rest {
                    display: block;
                    font-size: 0.75em;
                }
            }

            .matter {
                .title a {
                    text-decoration: none;
                    color: var(--primary);
                }
                .description {
                    color: var(--on-surface-variant);
                }
            }
        }
    }
}

.post-page {
    line-height: 1.5em;
    color: var(--on-surface);

    .toc {
        font-size: 1.2em;
        padding: 2em;
        li {
            width: fit-content;
            padding: 0.2em;
            a {
                display: block;
                text-decoration: none;
                color: var(--on-secondary-container);
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 20%;
                    background-color: var(--tertiary-container);
                    transition: 0.2s;
                    z-index: -1;
                }

                &:hover {
                    color: var(--on-tertiary-container);
                    &::before {
                        height: 100%;
                    }
                }
            }
        }
    }

    h1 {
        padding: 1em 0;
        color: var(--primary);
    }

    pre {
        padding: 1em;
        margin: 1em 0;
        background-color: var(--surface-container-low) !important;
    }

    table {
        table-layout: fixed;
        border-collapse: collapse;
        margin: 1em auto;
        thead {
            tr {
                border-top: 1px solid var(--outline-variant);
                border-bottom: 1px solid var(--outline-variant);
            }
            th {
                background-color: var(--primary-container);
                color: var(--on-primary-container);
                padding: 0.5em 1em;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid var(--outline-variant);
                border-top: 1px solid var(--outline-variant);
                &:hover {
                    background-color: var(--surface-container);
                }
            }
            td {
                padding: 0.5em 1em;
            }
        }
    }
}

@media (max-width: 1920px) {
    body {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    body {
        width: 75%;
    }

    #search-modal {
        width: 50%;
    }
}

@media (max-width: 800px) {
    body {
        width: 90%;
    }

    #search-modal {
        width: 80%;
    }
}
